 body {
     max-width: 100%;
     overflow-x: hidden;
     background-image: linear-gradient( rgb(255, 255, 255, 0.7), rgb(255, 255, 255, 0.8)), url(../images/akanpic.jpg);
     background-size: cover;
     background-repeat: no-repeat;
 }
 
 .jumbotron {
     height: 50px;
     background-color: rgb(243, 177, 195);
     color: #333;
     padding-top: 10px;
     margin-bottom: 0;
     border-radius: 0px;
 }
 
 .jumbotron h2 {
     font-size: 44px;
     color: #333;
     font-style: italic;
 }
 
 .container-fluid {
     width: 100%;
     padding-right: 0px;
     padding-left: 0px;
     margin-right: auto;
     margin-left: auto;
 }
 
 .row {
     margin-top: 50px;
     margin-bottom: 50px;
 }
 
 .card-title {
     margin-bottom: 0.75rem;
     margin-left: 22px;
 }
 
 h2 {
     color: #333;
     font-size: 28px;
     font-weight: 700;
 }
 
 .fillForm {
     align-content: center;
 }
 
 .form {
     width: 100%;
     margin-left: 20px;
 }
 
 input {
     display: block;
     width: 70%;
     height: 37px;
     border-width: 0 0 2px 0;
     border-color: #333;
     background-color: transparent;
 }
 
 input:focus {
     outline: none;
 }
 
 label {
     color: #333;
     font-size: 20px;
     margin-top: 10px;
 }
 
 ::placeholder {
     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', Verdana, sans-serif;
     font-style: italic;
 }
 
 .selectbox select {
     width: 70%;
     border-width: 2px;
     border-radius: 7px;
     border-color: rgb(181, 222, 243);
     background-color: rgb(181, 222, 243);
     color: #333;
     font-weight: 300;
     font-size: 20px;
 }
 
 input[type=submit] {
     width: 70%;
     border-width: 2px;
     margin-bottom: 5px;
     border-radius: 7px;
     border-color: rgb(181, 222, 243);
     background-color: rgb(181, 222, 243);
     color: #333;
     font-weight: 300;
     font-size: 20px;
 }
 
 #reveal-result {
     height: 150px;
     width: 100%;
     padding-top: 17px;
     padding-bottom: 10px;
     margin-bottom: 5px;
     background-color: transparent;
     border: dotted darkviolet;
     border-radius: 10px;
     font-family: Georgia, 'Times New Roman', Times, serif;
     font-size: 28px;
     font-weight: 700;
     color: #333;
     font-style: italic;
     text-align: center;
 }
 
 .footer {
     height: 50px;
     width: 100%;
     background-color: #333;
     display: inline-flex;
     padding-top: 10px;
     padding-bottom: 10px;
     padding-left: 7px;
     color: white;
     align-items: center;
     justify-content: center;
     font-style: italic;
     font-weight: 700;
 }